@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.titulo_1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  color: white;
  padding: 10px;
  text-align: center; }

.titulo_2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400; }

.titulo_3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: italic;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-style: regular;
  font-weight: 200; }

.icono_csgo {
  height: 240px;
  padding: 10px; }

.icono_cod {
  height: 240px;
  padding: 10px; }

.titulo--1 {
  font-size: 2rem;
  text-decoration: underline;
  font-style: italic; }

.titulo--2 {
  font-size: 2rem;
  text-decoration: underline;
  font-style: italic;
  font-size: 1rem;
  font-style: regular; }

.titulo--3 {
  font-size: 2rem;
  text-decoration: underline;
  font-style: italic; }

.desafio {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 300;
  display: flex;
  position: absolute; }
  .desafio .desafio--imagen {
    height: 480px;
    border-color: #016684; }
  .desafio ul {
    margin: 10px;
    padding: 20px;
    list-style: none; }

.navLink {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  color: white;
  padding: 30px;
  margin: 0 auto;
  text-shadow: -5px 3px 2px #080808; }
  .navLink:hover {
    transform: scale(1.2);
    color: white;
    text-decoration: none; }

.divdc {
  position: fixed;
  bottom: 20px;
  right: 20px; }
  .divdc:hover {
    transform: scale(1.2); }

.fotodc {
  width: 40px; }

.index {
  background-color: black;
  background-repeat: no-repeat;
  background: url(bc.jpg);
  background-position: cover; }

.titulo, .titulo__enfasis, .titulo__enfasis--subrayado {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #016684;
  text-align: center;
  padding: 10px; }

.titulo__enfasis, .titulo__enfasis--subrayado {
  font-style: italic;
  color: white; }

.titulo__enfasis--subrayado {
  text-decoration: underline; }

.videoG {
  height: 480px; }

.videoIndex {
  padding: 10px;
  height: 720px;
  border-color: white;
  border-style: solid; }

.videoFooter {
  height: 480px; }

.footer__texto, .footer__texto--blanco {
  color: #016684;
  font-family: 'Montserrat',sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  font-size: 1.5rem; }

.footer__texto--blanco {
  font-size: 1.2rem;
  color: white; }

.textoEnNegrita {
  color: blueviolet;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
  text-align: center;
  background-size: cover;
  padding: 20px; }

.blancoLugar {
  color: white;
  font-style: italic;
  text-decoration: underline; }

.barraBlanca {
  display: block;
  margin: 0 auto;
  height: 20px;
  width: 300px;
  box-sizing: border-box; }

.contacto {
  background-color: black;
  background-repeat: no-repeat;
  background: url(contacto.jpg);
  background-position: center; }

.Duda {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px; }

.formulario {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  align-content: center;
  padding: 20px;
  color: white;
  width: 100%; }

.textareaContacto {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none; }

.e-sports {
  background-color: black;
  background-repeat: no-repeat;
  background: url(e-sports.jpg);
  background-position: center; }

.fotoCaroussel {
  height: 480px; }

.equipo, .equipo--nombre {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center; }

.equipo--nombre {
  color: #016684;
  font-weight: 900;
  font-style: italic;
  font-size: 5rem; }

.texto__inscripcion, .texto__inscripcion--explicacion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #016684;
  font-size: 1.5rem;
  text-align: center; }

.texto__inscripcion--explicacion {
  color: white;
  font-size: 1.2rem;
  padding: 10px; }

.formularioE-Sports {
  color: white;
  align-content: center;
  padding: 20px; }

.textareaE-Sports {
  resize: none; }

.proyecto {
  background-color: black;
  background-repeat: no-repeat;
  background: url(proyecto.jpg);
  background-position: center; }

.nuestroideal {
  color: white;
  text-align: left;
  padding: 10px; }

.nuestroideal--titulo {
  font-size: 2rem; }

.nuestroideal--explicacion {
  font-family: 'Montserrat', sans-serif; }

.box__tipodeclase, .box__tipodeclase--titulo, .box__tipodeclase--subtitulo, .box__tipodeclase--precio {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative; }

.box__tipodeclase--titulo {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline; }

.box__tipodeclase--subtitulo {
  font-weight: 300;
  font-size: 1.1rem; }

.box__tipodeclase--precio {
  font-weight: 100;
  text-align: right; }

.clase__foto--posicion {
  height: 240px; }

.fotoFlex {
  height: 240px;
  border-style: solid;
  border-color: #016684; }

.preguntasclases__acordeon, .preguntasclases__acordeon--pregunta, .preguntasclases__acordeon--respuesta {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: left; }

.preguntasclases__acordeon--pregunta {
  font-weight: 500;
  font-style: italic;
  font-size: 1.2rem; }

.preguntasclases__acordeon--respuesta {
  font-weight: 300;
  font-size: 1rem;
  text-align: normal; }

.faq {
  background: url(faq.jpg); }

.FAQ {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  background: #10849c;
  color: white;
  padding: 10px; }

.link--txt {
  text-decoration: none;
  color: #016684; }

.link--txt:hover {
  text-decoration: none;
  color: #016684; }

.enviadoBody {
  background-color: black;
  background-repeat: no-repeat;
  background: url(enviado.jpg);
  background-position: center;
  background-size: cover; }

.enviado__texto, .enviado__texto--chico {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  padding: 50px; }

.enviado__texto--chico {
  font-size: 1rem; }
